// -----------------------------
// Utility / visually-hidden
// -----------------------------

// foundation/global内のグローバルファイルを一括読み込み
@use "../../foundation/global-bundle" as *;

// mapモジュール
@use "sass:map";

// ---- description ----
// 要素を非表示かつ、読み上げ可能な状態にするクラス

// ---- reference ----
// https://qiita.com/randy39/items/fca820d500dfe9ec1a52

.u-visually-hidden {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  display: block !important;
  width: 4px !important;
  height: 4px !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
  visibility: visible !important;
  border: none !important;
  opacity: 0 !important;
}
